.navbar {
  width: 750px;
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .username {
    margin-right: 1rem;
  }
  
  .logout-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #c82333;
  }
  